body {
  background-color: #EAF6F6;
}

hr{
  border: none;
  border-top: dotted;
  border-color: grey;
  border-width: thick;
  width: 10%;
}
img{
  height: 160px;
  width: 130px;
}
h1{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
